@model Phocalstream_Shared.Data.Model.View.SearchModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Bootstrap Tags Input CSS and JS Files-->
<link href="~/Content/bootstrap-tags/css/bootstrap-tagsinput.css" rel="stylesheet">
<script src="~/Content/bootstrap-tags/js/bootstrap-tagsinput.min.js"></script>
<script src="~/Content/typeahead/typeahead.bundle.js"></script>

<div class="content">

    @using (@Html.BeginForm("AdvancedSearch", "Search"))
    {
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                @Html.LabelFor(m => m.Sites)
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Sites, new { @id = "site-field" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                @Html.LabelFor(m => m.Seasons)
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Seasons, new { @placeholder = "Spring, Summer, Fall, Winter" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                @Html.LabelFor(m => m.Months)
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Months, new { @placeholder = "1, 11" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                @Html.LabelFor(m => m.Dates)
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Dates, new { @placeholder = "8/4/2012" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                @Html.LabelFor(m => m.Tags)
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Tags, new { @id = "tag-field"})
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                @Html.LabelFor(m => m.TimesOfDay)
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.TimesOfDay, new { @placeholder = "Morning, Afternoon, Evening, Night"})
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                @Html.LabelFor(m => m.HoursOfDay)
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.HoursOfDay, new { @placeholder = "10,11,16,17" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-6">
                <button class="btn btn-success" type="submit">Search</button>
            </div>
        </div>
    }
</div>
       
<script type="text/javascript">
    $(document).ready(function() {

        var availableTags = @Html.Raw(Json.Encode(Model.AvailableTags));
        var sites = @Html.Raw(Json.Encode(Model.SiteNames));

        var substringMatcher = function(strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function(i, str) {
                    if (substrRegex.test(str)) {

                        // the typeahead jQuery plugin expects suggestions to a
                        // JavaScript object, refer to typeahead docs for more info
                        matches.push({ value: str });
                    }
                });

                cb(matches);
            };
        };

        $('#tag-field').tagsinput();

        $('#tag-field').tagsinput('input').typeahead({
            minLength: 2,
            highlight: true,
        },
        {
            name: 'available-tags',
            source: substringMatcher(availableTags)
        });

        $('#site-field').tagsinput();

        $('#site-field').tagsinput('input').typeahead({
            minLength: 2,
            highlight: true,
        },
        {
            name: 'sites',
            source: substringMatcher(sites)
        });



        
    });
</script>