@model Phocalstream_Web.Models.SearchModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">

    @using (@Html.BeginForm("AdvancedSearch", "Search"))
    {
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                @Html.LabelFor(m => m.Sites)
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Sites)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                @Html.LabelFor(m => m.Dates)
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Dates)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                @Html.LabelFor(m => m.Tags)
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Tags)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                @Html.LabelFor(m => m.TimesOfDay)
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.TimesOfDay)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-6">
                <button class="btn btn-success" type="submit">Search</button>
            </div>
        </div>
    }
</div>
       