@model Phocalstream_Web.Models.ViewModels.SearchResults
@{
    ViewBag.Title = "PhotoWall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/CSS/Search.css",
               "~/Content/CSS/jquery-ui-slider.css",
               "~/Content/CSS/bootstrap-slider.css")
@Scripts.Render("~/Content/Scripts/jquery-ui-1.9.2.js",
                "~/Content/Scripts/jquery-lazyload.js")

<script type="text/javascript" src="~/Content/Scripts/bootbox.min.js"></script>
<script type="text/javascript" src="~/Content/Scripts/PhotoDownload.js"></script>
<script type="text/javascript" src="~/Content/Scripts/PhotoSaveCollection.js"></script>
<script type="text/javascript" src="~/Content/Scripts/PhotoTimelapse.js"></script>
<script type="text/javascript" src="~/Content/Scripts/PhotoSearchResults.js"></script>
<script>
    var visibleItems = "@Model.PhotoIdList";
    
    // dependency variables for PhotoSearchResults.js
    var totalPhotoCount = @Model.PhotoCount;
    var basePhotoUrl = "@Url.Action("Index", "Photo", null)?photoId=";
</script>

@section MenuItems
{
    @if (Request.IsAuthenticated)
    {
        <li><a href="javascript:saveCollectionPrompt()">Save Collection</a></li>
    }

    <li><a href="javascript:generateTimelapse()">View Time Lapse</a></li>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <li><a href="javascript:downloadPrompt()">Download Images</a></li>
    }
}

<div class="text-center">
    <div class="fit-width">
        <h1 class="page-header title">@Model.Collection.Name</h1>

        <div class="row">
            <div class="col-md-2">
                <span id="" class="label label-info">@Model.PhotoCount Photos</span>
            </div>
            <div class="col-md-8">
                <div id="slider"></div>
            </div>
            <div class="col-md-2">
                <span id="img-size" class="label label-info"></span>
            </div>
        </div>
    </div>

    <hr class="featurette-divider" />
    @Html.Partial("_SearchGridPartial", Model.Partial)

</div>

<!-- Save User Collection Modal -->
<div id="userCollectionModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">User Collections</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-md-12" for="newCollectionName">New Collection Name</label>
                    <div class="col-md-12">
                        <input id="newCollectionName" name="newCollectionName" type="text" placeholder="New Collection Name" class="form-control input-md">
                    </div>
                </div>

                @if (@Model.UserCollections != null)
                {
                    <hr class="featurette-divider" />

                    <div class="row">
                        <label class="col-md-12">Or, Add To Existing</label>
                        <div class="col-md-12">
                            <ul class="list-group user-collection-list">
                                @foreach (var col in Model.UserCollections.Collections)
                                {
                                    <li id="@col.ID" class="list-group-item">
                                        <span class="badge">@col.Photos.Count</span>@col.Name
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:cancelCollectionModalButton()">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:saveCollectionModalButton()">Add To Collections</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
