@model Phocalstream_Web.Models.ViewModels.SiteDetails

<h1 style="line-height: 25pt;">@Html.DisplayFor(model => model.SiteName)</h1>

<div class="detailsSub">
    @Html.DisplayFor(model => model.PhotoCount) photos from @Html.DisplayFor(model => model.First) to @Html.DisplayFor(model => model.Last)
</div>
<div id="imageContainer" style="margin-top: 10px; margin-bottom: 10px; width: 300px; height: 225px;">

</div>
<script type="text/javascript">
    viewer = new Seadragon.Viewer("imageContainer");
    viewer.clearControls();
    viewer.openDzi("@Html.DisplayFor(model => model.LastPhotoURL)");
</script>

<a href="photo/cameracollection?siteId=@Model.SiteID">View Collection</a>