@model Phocalstream_Shared.Data.Model.View.SiteDetails

<div class="thumbnail-column">
    <img class="thumbnail-image" src="@Model.LastPhotoURL" alt="@Model.SiteName" />

    <!-- Centered info about collection -->
    <div class="thumbnail-info">
        <h3>@Html.DisplayFor(model => model.SiteName)</h3>
        <p>@Html.DisplayFor(model => model.First) to @Html.DisplayFor(model => model.Last)</p>
        <a class="btn btn-bordered button-override" href="/photo/sitedashboard?siteId=@Model.SiteID">View @Html.DisplayFor(model => model.PhotoCount) Images</a>
    </div>
</div>