@model Phocalstream_Web.Models.ViewModels.HomeViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Phocalstream - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Scripts.Render(
            "~/Content/Scripts/jquery-1.7.1.min.js",
            "~/Content/Scripts/jquery.unobtrusive-ajax.min.js",
            "~/Content/bootstrap/js/bootstrap.min.js"
    )

    @Styles.Render(
            "~/Content/bootstrap/css/bootstrap.min.css",
            "~/Content/Site.css",
            "~/Content/CSS/HomePage.css",
            "~/Content/CSS/Home.css"
    )

    <!-- Bootstrap Tags Input CSS and JS Files-->
    <link href="~/Content/bootstrap-tags/css/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="~/Content/CSS/typeahead.css" rel="stylesheet">
    <script src="~/Content/bootstrap-tags/js/bootstrap-tagsinput.js"></script>
    <script src="~/Content/typeahead/typeahead.bundle.js"></script>

    <script type="text/javascript">
        var siteList = @Html.Raw(Json.Encode(Model.Collections));
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53560650-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53560650-2', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Phocalstream</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Home/SiteList">Sites</a></li>
                                    <li><a href="/Home/TagList">Tags</a></li>
                                </ul>
                            </li>
                            <li><a href="/Search/Index">Search</a></li>
                            <li><a href="#about">About</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right index-navbar-right">
                            @if (Request.IsAuthenticated)
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Account/UserCollections">Collections</a></li>
                                        <li><a href="#">Following</a></li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Profile</li>
                                        <li><a href="/Account/UserProfile">Settings</a></li>
                                        <li><a href="/Account/Logoff">Sign out</a></li>
                                    </ul>
                                </li>
                                if (User.IsInRole("Admin"))
                                {
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Settings", "Index", "Settings", null, null)</li>
                                            <li>@Html.ActionLink("Downloads", "Downloads", "Home", null, null)</li>
                                            <li>@Html.ActionLink("Searches", "List", "Search", null, null)</li>
                                        </ul>
                                    </li>
                                }
                            }
                            else
                            {
                                <li>
                                    <div>
                                        @using (@Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="image" class="facebook-login" src="~/Content/Images/FacebookButton.png" />
                                        }
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <div class="background">
        <img class="background-img" src="/api/photo/high/@Model.Sites.ElementAt(Model.SiteIndex).CoverPhotoID" alt="@Model.Sites.ElementAt(Model.SiteIndex).SiteName">
    </div>

    <div class="background-info">
        <h1>@Model.Sites.ElementAt(Model.SiteIndex).SiteName</h1>
        <p>@Html.DisplayFor(model => Model.Sites.ElementAt(Model.SiteIndex).PhotoCount) photos from @Html.DisplayFor(model => Model.Sites.ElementAt(Model.SiteIndex).First) to @Html.DisplayFor(model => Model.Sites.ElementAt(Model.SiteIndex).Last)</p>
        <p><a class="btn btn-lg btn-bordered button-override" href="/photo/sitedashboard?siteId=@Model.Sites.ElementAt(Model.SiteIndex).SiteID" role="button">View the Collection</a></p>
    </div>
 
    <div class="scroll">
        <p>Scroll Down<p>
        <span class="glyphicon glyphicon-chevron-down"></span>
    </div>

    <div class="back">
        <div class="container">
            <!-- Search Section -->
            <div class="search">
                @if (@ViewBag.Message != null)
                {
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        @ViewBag.Message
                    </div>
                }

                <div class="row text-center">
                    <h2>Phocalsteam Image Search</h2>
                    <h3>Quickly find images matching a descriptive tag.</h3>
                </div>
                @using (@Html.BeginForm("TagSearch", "Search"))
                { 
                    <div class="row">
                        <div class="col-lg-9">
                            <input type="text" id="tag-field" name="tag" placeholder="river, sunset, cows, etc." />
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-lg btn-success full-width" type="submit">Search</button>
                        </div>
                    </div>
                }
                <div class="row">
                    @if (Model.Tags.Count > 2)
                    {
                        for (int i = 0; i < 3; i++)
                        {
                            <div class="col-lg-3">
                                @Html.ActionLink("View the " + @Model.Tags[i] + " collection", "TagSearch", "Search", new { @tag = @Model.Tags[i] }, new { @class = "btn btn-primary full-width" })
                            </div>
                        }
                    <div class="col-lg-3">
                        <a class="btn btn-default full-width" href="@Url.Action("Index", "Search", null)" role="button">Advanced Search &raquo;</a>
                    </div>
                    }
                    else
                    {
                    <div class="col-lg-4 col-lg-offset-4">
                        <a class="btn btn-default full-width" href="@Url.Action("Index", "Search", null)" role="button">Advanced Search &raquo;</a>
                    </div>
                    }
                </div>
            </div>
        
            <hr class="featurette-divider">
    
            <!-- Public Section -->
            @if (Model.PublicCollections.Count > 0)
            {
                <div class="publicCollections">
                    <div class="row text-center">
                        <h2>Browse Phocalsteam Photo Collections</h2>
                        <h3>Experience a watershed through photos</h3>
                    </div>

                    <div class="row">
                        @foreach (var col in Model.PublicCollections)
                        {
                            <div class="col-md-6 siteColumn">
                                <img class="siteImage" src="/api/photo/medium/@col.CoverPhoto.ID" alt="@col.Name" />

                                <div class="row">
                                    <div class="siteCaption">
                                        <div class="col-md-8">
                                            <h3>@col.Name</h3>
                                            <p>@Html.DisplayFor(model => col.Photos.Count) photos </p>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <a class="siteCollection btn btn-default" href="/account/userdefinedcollection?collectionId=@col.ID">View Images</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        
            <hr class="featurette-divider">
               
            <!-- Sites Section -->
            <div id="sites">
                <div class="row text-center">
                    <h2>Phocalsteam Camera Sites</h2>
                </div>
                <div class="row">
                    @foreach (var site in Model.Sites)
                    {
                        <div class="col-md-6 siteColumn">
                            <img class="siteImage" src="/api/photo/medium/@site.CoverPhotoID" alt="@site.SiteName">

                            <div class="row">
                                <div class="siteCaption">
                                    <div class="col-md-8">
                                        <h1>@site.SiteName</h1>
                                        <p>@Html.DisplayFor(model => site.PhotoCount) photos from @Html.DisplayFor(model => site.First) to @Html.DisplayFor(model => site.Last)</p>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <a class="siteCollection btn btn-default" href="/photo/sitedashboard?siteId=@site.SiteID">View Collection</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- Marketing Section -->
            <div class="row">
                <div class="col-md-4">
                    <img class="imghead" src="/Content/Images/wff.jpg" alt="Platte Basin Time Lapse Project">
                    <h2>Research Partners</h2>
                    <p>Phocalstream is about more than images. Through a partnership sponsored by the Water for Food Institute at the Univeristy of Nebraska, our work is brining the power of images to world-changing water and conservation research.</p>
                    <p><a class="btn btn-default" href="http://waterforfood.nebraska.edu" role="button">Learn More &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-md-4">
                    <img class="imghead" src="/Content/Images/map.jpg" alt="Your Places">
                    <h2>Your Places</h2>
                    <p>We are using the magic of software to build a community of users sharing stories through photography. Phocalstream is all about unlocking creative potential on the Platte all the way down to local backyards.</p>
                    <p><a class="btn btn-default" href="#" role="button">Start Contributing &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-md-4">
                    <img class="imghead" src="/Content/Images/Octocat.jpg" alt="Github">
                    <h2>Open Source</h2>
                    <p>All of the code that drives Phocalstream is 100% open and available for you to learn from, develop against, or create your own image sharing site. You can follow our developers' work on our GitHub repository.</p>
                    <p><a class="btn btn-default" href="https://github.com/icotting/Phocalstream" role="button">Check it out &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            
            <hr class="featurette-divider">
    
            <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>&copy; 2014 University of Nebraska-Lincoln &middot; <a href="https://github.com/icotting/Phocalstream/blob/master/License.txt">License</a> &middot; <a href="https://github.com/icotting/Phocalstream/releases">Source Code</a></p>
            </footer>

        </div><!-- /.container -->
    </div>
</body>
</html>

<script type="text/javascript">
    $(function() {
        $(window).scroll( function(){
            var scroll = $(document).scrollTop()
            var opacity = (300 - scroll) / 300;
            $('.background-info').fadeTo(0, opacity);
       //     $('.navbar-wrapper').fadeTo(0, opacity);
        });
    });
    
    $(document).ready(function() {
        var availableTags = @Html.Raw(Json.Encode(Model.Tags));

        var substringMatcher = function(strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function(i, str) {
                    if (substrRegex.test(str)) {

                        // the typeahead jQuery plugin expects suggestions to a
                        // JavaScript object, refer to typeahead docs for more info
                        matches.push({ value: str });
                    }
                });

                cb(matches);
            };
        };

        $('#tag-field').tagsinput();

        $('#tag-field').tagsinput('input').typeahead({
            minLength: 2,
            highlight: true,
        },
        {
            name: 'available-tags',
            source: substringMatcher(availableTags)
        }).bind('typeahead:selected', $.proxy(function (obj, datum) {  
            this.tagsinput('add', datum.value);
            this.tagsinput('input').typeahead('val', '');

            if(this.tagsinput('items').length != 0) {
                this.tagsinput('input').attr('placeholder','');
            }

        }, $('#tag-field')));
    });
</script>