@model Phocalstream_Web.Models.ViewModels.CollectionViewModel
@{
    ViewBag.Title = Model.Collection.Site.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render(
            "~/Content/CSS/Photo.css"
    )

@section Scripts
    {
    <script type="text/javascript" src="~/Content/Scripts/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/Silverlight.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/PhotoDownload.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/PhotoSaveCollection.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/PhotoTimelapse.js"></script>

    <script type="text/javascript">

        var visibleItems;
        function registerNewSelection(items) {
            visibleItems = items;
        }

        function onSilverlightError(sender, args) {
            var appSource = "";
            if (sender != null && sender != 0) {
                appSource = sender.getHost().Source;
            }

            var errorType = args.ErrorType;
            var iErrorCode = args.ErrorCode;

            if (errorType == "ImageError" || errorType == "MediaError") {
                return;
            }

            var errMsg = "Unhandled Error in Silverlight Application " + appSource + "\n";

            errMsg += "Code: " + iErrorCode + "    \n";
            errMsg += "Category: " + errorType + "       \n";
            errMsg += "Message: " + args.ErrorMessage + "     \n";

            if (errorType == "ParserError") {
                errMsg += "File: " + args.xamlFile + "     \n";
                errMsg += "Line: " + args.lineNumber + "     \n";
                errMsg += "Position: " + args.charPosition + "     \n";
            }
            else if (errorType == "RuntimeError") {
                if (args.lineNumber != 0) {
                    errMsg += "Line: " + args.lineNumber + "     \n";
                    errMsg += "Position: " + args.charPosition + "     \n";
                }
                errMsg += "MethodName: " + args.methodName + "     \n";
            }

            throw new Error(errMsg);
        }
        
        function setCover() {
            var form;
            form = $('<form />', {
                action: '/api/sitecollection/updatecover',
                method: 'GET',
                style: 'display: none;'
            });

            form.append($('<input/>', {
                type: 'hidden',
                name: 'photoId',
                value: visibleItems.split(",")[0]
            }));

            form.append($('<input/>', {
                type: 'hidden',
                name: 'collectionId',
                value: @Model.Collection.ID
            }));

            form.appendTo('body').submit();
        }
    </script>

    <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <script type="text/javascript">
	        function loadMap() {
	            var mapOptions = {
	                credentials: "AvikYUpjcBjzTZDMq41HatI4Val4on1Qp45zwxkOVVEB_tQ-dP-fpTuV5axCkTkW",
	                mapTypeId: Microsoft.Maps.MapTypeId.aerial,
	                showDashboard: false,
	                disableKeyboardInput: true,
	                disableMouseInput: true,
	                disablePanning: true,
	                disableTouchInput: true,
	                disableUserInput: true,
	                disableZooming: true
	            }

	            var map = new Microsoft.Maps.Map(document.getElementById("map"), mapOptions);
	            // Define the pushpin location
	            var loc = new Microsoft.Maps.Location(@Html.DisplayFor(model => model.SiteCoords));

	            // Add a pin to the map
	            var pin = new Microsoft.Maps.Pushpin(loc); map.entities.push(pin);
	            var center = new Microsoft.Maps.Location(loc.latitude, loc.longitude - 0.005);
	            map.setView({ center: center, zoom: 16 });
	        }
    </script>
}

@section MenuItems
{
    @if (Request.IsAuthenticated)
    {
        <li><a href="javascript:saveCollectionPrompt()">Save Collection</a></li>
    }
    
<li><a href="javascript:generateTimelapse()">View Time Lapse</a></li>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <li><a href="javascript:setCover()">Set Cover</a></li>
        <li><a href="javascript:downloadPrompt()">Download Images</a></li>
    }
}

<div id="pageHeader">
    <h1>@Html.DisplayFor(model => model.Collection.Site.Name)</h1>
    <div id="subhead">
        @Html.DisplayFor(model => model.SiteDetails.PhotoCount) photos from @Html.DisplayFor(model => model.SiteDetails.First) to @Html.DisplayFor(model => model.SiteDetails.Last)
    </div>
</div>

<div id="map"></div>
<form id="form1" runat="server">
    <div id="silverlightControlHost">
        <object data="data:application/x-silverlight-2," type="application/x-silverlight-2" width="100%" height="100%">
            <param name="source" value="/ClientBin/Phocalstream_PivotView.xap" />
            <param name="onError" value="onSilverlightError" />
            <param name="background" value="white" />
            <param name="minRuntimeVersion" value="4.0.60310.0" />
            <param name="autoUpgrade" value="true" />
            <param name="initParams" value="collection=@Html.Raw(Model.CollectionUrl)" />
            <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=4.0.60310.0" >
                <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" />
            </a>
        </object><iframe id="_sl_historyFrame"></iframe>
    </div>
</form>

<script type="text/javascript">
    loadMap();
</script>

<!-- Save User Collection Modal -->
@Html.Partial("_SaveUserCollectionModal", Model.UserCollections);
