@model Phocalstream_Web.Models.ViewModels.PhotoViewModel
@{
    ViewBag.Title = Model.Photo.Site.Name + " Photo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render(
            "~/Content/CSS/Site.css",
            "~/Content/CSS/Photo.css"
    )
   
@section Scripts 
{
    <script type="text/javascript" src="http://seadragon.com/ajax/0.8/seadragon-min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>

	<script type="text/javascript">
	    Highcharts.theme = {
	        colors: ["#DCDCDC", "#F5E938", "#FECC6E", "#FD9827", "#FC3638", "#650205", "#ff0066", "#eeaaee",
                "#55BF3B", "#DF5353", "#aaeeee"]
	    };

	    // Apply the theme
	    var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
    </script>

    <script type="text/javascript" src="/Content/Scripts/Silverlight.js"></script>
    <script type="text/javascript" src="/Content/Scripts/ClientBin.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script type="text/javascript">
        function fullScreen() {
            viewer.setFullPage(true);
        }
    </script>

}

<div class="container">
<div id="table">
    <div id="imageCell">
        <div id="imageContainer">

        </div>
        <span ><small>You can use your mouse to pan and zoom the image or view in <a href="javascript:fullScreen()">fullscreen</a>.</small></span>
        <script type="text/javascript">
            viewer = new Seadragon.Viewer("imageContainer");
            viewer.clearControls();
            viewer.tracker.clickHandler = function (tracker, position, quick, shift) {
                return;
            };

            viewer.openDzi("@Html.DisplayFor(model => model.ImageUrl)");
        </script>
        <div class="data-partial">
            @{ Html.RenderPartial("_DmMapPartial", new Phocalstream_Web.Models.ViewModels.DmMapData() { DataWeek = Model.DroughtMonitorData.DataWeek }); }
        </div>
        <div class="data-partial">
            @{ Html.RenderPartial("_WaterChartPartial", Model.WaterData); }
        </div>
    </div>

    <div id="siteInfo">
        <h1>@Html.DisplayFor(model => model.PhotoTime)</h1>
        <h3>@Html.DisplayFor(model => model.PhotoDate)</h3>
        <ul>
            <li>Camera Site: <span class="value">@Html.DisplayFor(model => model.Photo.Site.Name)</span></li>
            <li>Exposure Time: <span class="value">@Html.DisplayFor(model => model.Photo.ExposureTime)</span></li>
            <li>
                @(Model.Photo.Flash ? "Flash" : "No Flash")

            </li>
            <li>Focal Length: <span class="value">@Html.DisplayFor(model => model.Photo.FocalLength)</span></li>
            <li>ISO Speed: <span class="value">@Html.DisplayFor(model => model.Photo.ISO)</span></li>
            <li>Max Aperture: <span class="value">@Html.DisplayFor(model => model.Photo.MaxAperture)</span></li>
            <li>Shutter Speed: <span class="value">@Html.DisplayFor(model => model.Photo.ShutterSpeed)</span></li>
        </ul>
        <div class="data-partial" id="dmPartial">
            @{ Html.RenderPartial("_DmPartial", Model.DroughtMonitorData); }
        </div>
        <div class="data-partial" id="wdPartial">
            @{ Html.RenderPartial("_WaterDataPartial", Model.WaterData); }
        </div>
        <div style="margin-top: 20px;" id="tagPartial">
            @{ Html.RenderPartial("_TagPartial", Model.Photo); }
        </div>
    </div>
</div>
</div>