@model Phocalstream_Web.Models.ViewModels.PhotoViewModel
@{
    ViewBag.Title = Model.Photo.Site.Name + " Photo";
}

    @section Styles
    {
        <style type="text/css">
            #info h1 {
                font-weight: 100;            
                font-size: 30pt;
                margin-bottom: 0px;
                padding-bottom: 0px;
                line-height: 0px;
            }

            #info h3 {
                font-weight: 300;
                font-size: 16pt;
                margin-bottom: 0px;
                padding-bottom: 0px;
            }

            .value {
                font-size: 10pt;
                padding-left: 5px;
            }

            li {
                font-size: 12pt;
            }

            ul {
                margin-top: 20pt;
                list-style: none;
                margin-left: 0px;
                padding-left: 30px;
            }

            #map {
                margin-top: 30px;
                width: 250px;
            }
    </style>
    }

    @section Scripts 
    {
            <script type="text/javascript" src="/Content/Scripts/Silverlight.js"></script>
            <script type="text/javascript" src="/Content/Scripts/ClientBin.js"></script>
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
            <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
            <script type="text/javascript" src="http://seadragon.com/ajax/0.8/seadragon-min.js"></script>

            <script type="text/javascript">

            </script>

        }
<div style="width: 800px; min-width: 800px; margin: 0 auto;">
    <div id="imageContainer" style="width: 525px; height: 366px; float: left; padding-right: 0px; margin-right: 0px;">

    </div>
    <script type="text/javascript">
        viewer = new Seadragon.Viewer("imageContainer");
        viewer.clearControls();
        viewer.tracker.clickHandler = function(tracker, position, quick, shift) {
            return;
        };

        viewer.openDzi("@Html.DisplayFor(model => model.ImageUrl)");
    </script>

    <div id="info" style="width: 200px; float: right; margin-left: 0px; padding-left: 0px;">
        <h1>@Html.DisplayFor(model => model.PhotoTime)</h1>
        <h3>@Html.DisplayFor(model => model.PhotoDate)</h3>
        <ul>
            <li style="padding-bottom: 20px;">Camera Site: <span class="value">@Html.DisplayFor(model => model.Photo.Site.Name)</span></li>
            <li>Exposure Time: <span class="value">@Html.DisplayFor(model => model.Photo.ExposureTime)</span></li>
            <li>
                @(Model.Photo.Flash ? "Flash" : "No Flash")

            </li>
            <li>Focal Length: <span class="value">@Html.DisplayFor(model => model.Photo.FocalLength)</span></li>
            <li>ISO Speed: <span class="value">@Html.DisplayFor(model => model.Photo.ISO)</span></li>
            <li>Max Aperture: <span class="value">@Html.DisplayFor(model => model.Photo.MaxAperture)</span></li>
            <li>Shutter Speed: <span class="value">@Html.DisplayFor(model => model.Photo.ShutterSpeed)</span></li>
        </ul>
        <div style="margin-top: 20px;">
        <a href="javascript:fullScreen()">View Fullscreen</a>
        </div>
    </div>
</div>