@model Phocalstream_Web.Models.ViewModels.SiteDashboardViewModel
    @{
        ViewBag.Title = "SiteDashboard";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

@Styles.Render("~/Content/CSS/Photo.css")

<script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
<script type="text/javascript">
	    Highcharts.theme = {
	        colors: ["#DCDCDC", "#F5E938", "#FECC6E", "#FD9827", "#FC3638", "#650205", "#ff0066", "#eeaaee",
                "#55BF3B", "#DF5353", "#aaeeee"]
	    };

	    // Apply the theme
	    var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>


<div class="container">
    <div class="content">

        <div class="text-center">
            <h1 class="page-header">@Model.CollectionViewModel.Collection.Name Dashboard</h1>
        </div>

        <!-- Yearly Summaries -->
        <div class="row dashboardRow">
            @foreach (var y in Model.Years)
            {
                <div class="col-md-4 siteColumn">
                    <img class="siteImage" src="/api/photo/medium/@y.CoverPhotoID" alt="@y.Year">

                    <div class="row">
                        <div class="siteCaption">
                            <div class="col-md-8">
                                <h3>@y.Year</h3>
                                <h4>@y.PhotoCount photos</h4>
                            </div>
                            <div class="col-md-4 text-right">
                                <a class="siteCollection btn btn-default" href="/photo/cameracollection?siteId=@Model.CollectionViewModel.Collection.Site.ID">View @y.Year</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Photo Frequency and Popular Tags -->
        <div class="row dashboardRow">
            <div class="col-md-8">
                @{ Html.RenderPartial("_PhotoFrequencyPartial", Model.PhotoFrequency); }
            </div>

            <div class="col-md-4 dashboardData" id="popularTags">
                <h3>Popular Tags</h3>
                <hr class="featurette-divider" />
                @foreach (var t in Model.Tags)
                {
                    <h4>@t.Tag -- @t.Count</h4>
                }
            </div>
        </div>

        <!-- Stream Flow and Water Data -->
        <div class="row dashboardRow">
            <div class="col-md-8">
                @{ Html.RenderPartial("_WaterChartPartial", Model.WaterData); }
            </div>
            <div class="col-md-4 dashboardData" id="wdPartial">
                @{ Html.RenderPartial("_WaterDataPartial", Model.WaterData); }
            </div>
        </div>
        <!-- End Stream Flow and Water Data -->


        <!-- Drought Map and Charts -->
        <div class="row dashboardRow">
            <div class="col-md-8">
                @{ Html.RenderPartial("_DmMapPartial", new Phocalstream_Web.Models.ViewModels.DmMapData()
                    {
                        SiteName = Model.CollectionViewModel.Collection.Site.Name,
                        Lat = Model.CollectionViewModel.Collection.Site.Latitude,
                        Lon = Model.CollectionViewModel.Collection.Site.Longitude,
                        DataWeek = Model.DroughtMonitorData.DataWeek
                    }); }
            </div>
            <div class="col-md-4 dashboardData" id="dmPartial">
                @{ Html.RenderPartial("_DmPartial", Model.DroughtMonitorData); }
            </div>
        </div>
        <!-- End Drought Map and Charts -->

    </div>
</div>