@model Phocalstream_Web.Models.ViewModels.SiteDashboardViewModel
    @{
        ViewBag.Title = "SiteDashboard";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

@Styles.Render("~/Content/CSS/Photo.css")

<script type="text/javascript" src="~/Content/Scripts/bootbox.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
<script type="text/javascript">
	    Highcharts.theme = {
	        colors: ["#DCDCDC", "#F5E938", "#FECC6E", "#FD9827", "#FC3638", "#650205", "#ff0066", "#eeaaee",
                "#55BF3B", "#DF5353", "#aaeeee"]
	    };

	    // Apply the theme
	    var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
</script>

<script type="text/javascript">

    function viewAll() {
        bootbox.confirm("Are you sure you want to view all @Html.DisplayFor(model => Model.CollectionViewModel.SiteDetails.PhotoCount) images? \n" + 
                "This may take some time to load. Please be patient.", function (result) {
                    if (result) {
                        location.href = '@Url.Action("CameraCollection", "Photo", new { @siteID = @Model.CollectionViewModel.Collection.Site.ID })';
                    }
                    else {
                    }
        });
    }

</script>


<div class="container">
    <div class="content">

        <div class="text-center relative">
            <h1 class="page-header">@Model.CollectionViewModel.Collection.Name</h1>
            <button onclick="javascript:viewAll()" class="btn btn-info view-all">View All Images</button>
        </div>        

        <!-- Yearly Summaries -->
        <div class="row">
            @foreach (var y in Model.Years)
            {
                <div class="col-md-4 siteColumn">
                    <img class="siteImage" src="/api/photo/medium/@y.CoverPhotoID" alt="@y.Year">

                    <div class="row">
                        <div class="siteCaption">
                            <div class="col-md-8">
                                <h3>@y.Year</h3>
                                <h4>@y.PhotoCount photos</h4>
                            </div>
                            <div class="col-md-4 text-right">
                                @Html.ActionLink(string.Format("View {0}", y.Year), "CameraCollection", "Photo", new { siteID = Model.CollectionViewModel.Collection.Site.ID, year = y.Year }, new { @class = "siteCollection btn btn-default" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Photo Frequency and Popular Tags -->
        <div class="row dashboardRow">
            <div class="col-md-8">
                @{ Html.RenderPartial("_PhotoFrequencyPartial", Model.PhotoFrequency); }
            </div>

            <div class="col-md-4 dashboardData" id="popularTags">
                <h3>Popular Tags</h3>
                <ul class="list-group user-collection-list">
                    @foreach (var t in Model.Tags)
                    {
                        <li id="@t.Item1" class="list-group-item">
                            <span class="badge">@t.Item2</span>@Html.ActionLink(Html.DisplayFor(model => t.Item1).ToString(), "KnockoutAdvancedSearch", "Search", new {
                                @hours = "", @months = "", @sites = @Model.CollectionViewModel.Collection.Site.Name, @tags = @t.Item1, @dates = ""
                            }, new { @class = "" })
                        </li>
                    }
                </ul>
            </div>
        </div>

        <!-- Stream Flow and Water Data -->
        <div class="row dashboardRow">
            <div class="col-md-8">
                @{ Html.RenderPartial("_WaterChartPartial", Model.WaterData); }
            </div>
            <div class="col-md-4 dashboardData" id="wdPartial">
                @{ Html.RenderPartial("_WaterDataPartial", Model.WaterData); }
            </div>
        </div>
        <!-- End Stream Flow and Water Data -->


        <!-- Drought Map and Charts -->
        <div class="row dashboardRow">
            <div class="col-md-8">
                @{ Html.RenderPartial("_DmMapPartial", new Phocalstream_Web.Models.ViewModels.DmMapData()
                    {
                        SiteName = Model.CollectionViewModel.Collection.Site.Name,
                        Lat = Model.CollectionViewModel.Collection.Site.Latitude,
                        Lon = Model.CollectionViewModel.Collection.Site.Longitude,
                        DataWeek = Model.DroughtMonitorData.DataWeek
                    }); }
            </div>
            <div class="col-md-4 dashboardData" id="dmPartial">
                @{ Html.RenderPartial("_DmPartial", Model.DroughtMonitorData); }
            </div>
        </div>
        <!-- End Drought Map and Charts -->

    </div>
</div>