@model Phocalstream_Web.Models.ViewModels.SiteDashboardViewModel
    @{
        ViewBag.Title = "SiteDashboard";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

@Styles.Render("~/Content/CSS/Photo.css",
               "~/Content/CSS/CollectionThumbnail.css")

<script type="text/javascript" src="~/Content/Scripts/bootbox.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="http://code.highcharts.com/2.2.4/highcharts.js" type="text/javascript"></script>
<script type="text/javascript">
	    Highcharts.theme = {
	        colors: ["#DCDCDC", "#F5E938", "#FECC6E", "#FD9827", "#FC3638", "#650205", "#ff0066", "#eeaaee",
                "#55BF3B", "#DF5353", "#aaeeee"]
	    };

	    // Apply the theme
	    var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
</script>

<script type="text/javascript">

    function viewAll() {
        location.href = '@Url.Action("Index", "Search", new { @site = @Model.CollectionViewModel.Collection.Site.Name })';
    }

</script>


<div class="container">
    <div class="content">

        <div class="text-center relative">
            <h1 class="page-header">@Model.CollectionViewModel.Collection.Name</h1>
            <button onclick="javascript:viewAll()" class="btn btn-info view-all">View All Images</button>
        </div>        

        <!-- Yearly Summaries -->
        <div class="row">
            @foreach (var y in Model.Years)
            {
                <div class="col-md-4">
                    @Html.Partial("_CollectionThumbnail", y)
                </div>
            }
        </div>

        <!-- Photo Frequency and Popular Tags -->
        <div class="row dashboardRow">
            <div class="col-md-8">
                @{ Html.RenderPartial("_PhotoFrequencyPartial", Model.PhotoFrequency); }
            </div>

            <div class="col-md-4 text-center" id="popularTags">
                <h4 class="partial-title">Popular Tags</h4>
                <ul class="list-group">
                    @foreach (var t in Model.Tags)
                    { 
                        <li class="list-group-item">
                            <a class="pull-left" href="@Url.Action("Index", "Photo", new { @photoId = t.Item3})">
                                <img class="media-object" src="/api/photo/low/@t.Item3" alt="...">
                            </a>
                            <span class="badge">@t.Item2</span><p class="tag">@Html.ActionLink(Html.DisplayFor(model => t.Item1).ToString(), "Index", "Search", new {
                                    @site = @Model.CollectionViewModel.Collection.Site.Name, @tag = @t.Item1
                                }, new { @class = "" })</p>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <!-- Stream Flow and Water Data -->
        <div class="row dashboardRow">
            <div class="col-md-8">
                @{ Html.RenderPartial("_WaterChartPartial", Model.WaterData); }
            </div>
            <div class="col-md-4" id="wdPartial">
                @{ Html.RenderPartial("_WaterDataPartial", Model.WaterData); }
            </div>
        </div>
        <!-- End Stream Flow and Water Data -->


        <!-- Drought Map and Charts -->
        <div class="row dashboardRow">
            <div class="col-md-8">
                @{ Html.RenderPartial("_DmMapPartial", new Phocalstream_Web.Models.ViewModels.DmMapData()
                    {
                        SiteName = Model.CollectionViewModel.Collection.Site.Name,
                        Lat = Model.CollectionViewModel.Collection.Site.Latitude,
                        Lon = Model.CollectionViewModel.Collection.Site.Longitude,
                        DataWeek = Model.DroughtMonitorData.DataWeek
                    }); }
            </div>
            <div class="col-md-4 dashboardData" id="dmPartial">
                @{ Html.RenderPartial("_DmPartial", Model.DroughtMonitorData); }
            </div>
        </div>
        <!-- End Drought Map and Charts -->

    </div>
</div>