@model Phocalstream_Web.Models.ViewModels.TimelapseModel

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    double WIDTH = 700.0;

    string FRAME_WIDTH = "700px";
    string FRAME_HEIGHT = (WIDTH * ((float)Model.Height / (float)Model.Width)) + "px";
    
    string RESOLUTION = "medium";
    bool DEBUG = false;
}

@section Scripts
{
    <script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
  
    <script type="text/javascript">
        Highcharts.theme = {
            colors: ["#DCDCDC", "#F5E938", "#FECC6E", "#FD9827", "#FC3638", "#650205", "#ff0066", "#eeaaee",
                "#55BF3B", "#DF5353", "#aaeeee"]
        };

        // Apply the theme
        var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
    </script>


    @* This is less than ideal with globals being defined on the page and in TimeLapse.js
        Globals in general being bad. Consider refactoring to make these function arguments. *@
    <script type="text/javascript">
        var width = @WIDTH; // frame width
        var height = @(WIDTH * ((float)Model.Height / (float)Model.Width)); // frame height
        var frameset = @Html.Raw(Json.Encode(Model.Frames)); // the full set of frames represented by a list of frame models
        var weeks = @Html.Raw(Json.Encode(Model.DmWeeks));
        var fips = @Model.CountyFips;
        var imageRes = "@RESOLUTION";
    </script>
}   <script src="~/Content/Scripts/TimeLapse.js" type="text/javascript"></script>

<div class="container">
    <div class="content">
        <div id="video" style="position: relative;">
            <div class="col-md-8">
                <div id="loadDiv" style="color: white; text-align: center; padding: 20px; background-color: rgba(0, 0, 0, 0.7); z-index: 2; position: absolute; top: 0px; width: @FRAME_WIDTH; height: @FRAME_HEIGHT">
                    Buffering: <span id="bufferlabel"></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" id="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>

                <div id="frames" style="position: absolute; top: 0px; z-index: 1">
                    <canvas id="vscreen"></canvas>
                    <div id="controls" style="display: none; margin-top: 10px;">
                    <button class="btn btn-default" onclick="startStop()">
                        <span id="controls" class="glyphicon glyphicon-pause"></span>
                    </button>
                    &nbsp;<span id="frameDate"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="open_container" class="dm_container"></div>

                @if (DEBUG) { 
                <p>
                    Photo <span id="pid"></span> at position <span id="pos"></span> and buffer position of <span id="bufPos"></span>
                </p>
                <p>
                    Frameset Length: <span id="flen"></span> with buffer length <span id="blen"></span>
                </p>
                }
            </div>
        </div>
    </div>
</div>