@model Phocalstream_Shared.Data.Model.Photo.Collection
@{
    ViewBag.Title = "EditUserCollection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/CSS/Account.css")

<div class="container">
    <div class="content">
        <div class="text-center relative">
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <div id="published" class="publish">
                    <button onclick="javascript:unpublish()" id="publishButton" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Published</button>
                </div>
                <div id="publish" class="publish">
                    <button onclick="javascript:publish()" id="publishButton" class="btn btn-info">Publish</button>
                </div>
            }
            <h1 class="page-header">@Model.Name</h1>
            <div class="save-changes invisible">
                <button onclick="javascript:cancel()" class="btn btn-warning">Discard</button>
                <button onclick="javascript:save()" class="btn btn-success">Save Changes</button>
            </div>
        </div>

        <div class="row">
            @foreach (var p in Model.Photos)
            {
                <div class="col-md-3 siteColumn" id="@p.ID">
                    <img class="siteImage" id="@p.ID" src="/api/photo/low/@p.ID" alt="@p.FileName" />

                    <div class="siteToDelete invisible"></div>

                    <div class="siteDelete">
                        <a class="btn btn-sm text-white no-underline remove" id="@p.ID" href="javascript:remove()"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    var toRemove = [];

    $(document).ready(function () {
        var published = '@Model.Public';

        if (published) {
            $("#publish").hide();
        }
        else {
            $("#published").hide();
        }


        $('.remove').click(function () {
            var id = $(this).attr('id');
            var object = $(document).find('#' + id + ">.siteToDelete");

            var hasClass = object.hasClass("invisible");

            object.toggleClass("invisible", !hasClass);

            if (hasClass) {
                toRemove.push(id);
            } else {
                var index = toRemove.indexOf(id);
                toRemove.splice(index, 1);
            }

            if (toRemove.length == 0) {
                $(".save-changes").addClass("invisible");
                $(".publish").show();
            } else if (toRemove.length == 1) {
                $(".save-changes").removeClass("invisible");
                $(".publish").hide();
            } else {

            }
        });

    });

    function save() {
        $.ajax({
            url: '/api/usercollection/RemoveFromCollection?collectionId=' + '@Model.ID.ToString()' + '&photoIds=' + toRemove.join(','),
            type: 'POST'
        });
    }

    function cancel() {
        location.reload();
    }

    function publish() {
        $.ajax({
            url: '/api/usercollection/PublishUserCollection?collectionId=' + '@Model.ID.ToString()',
            type: 'POST',
            success: function (data) {
                $("#publish").hide();
                $("#published").show();
            }
        });
    }

    function unpublish() {
        $.ajax({
            url: '/api/usercollection/UnpublishUserCollection?collectionId=' + '@Model.ID.ToString()',
            type: 'POST',
            success: function (data) {
                $("#published").hide();
                $("#publish").show();
            }
        });
    }
</script>

