@model Phocalstream_Web.Models.RegisterUserModel
@{
    ViewBag.Title = "Register with Phocalstream";
}

<h1>User Registration</h1>

@using (@Html.BeginForm("RegisterAccount", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Association Form</legend>
        <p>
            You've successfully authenticated with your Google ID.  You will need to complete 
            form below to create a new Phocalstream profile and click the Register button to finish
            logging in.
        </p>
        <ol>
            <li class="name">
                @Html.LabelFor(m => m.User.FirstName)
                @Html.TextBoxFor(m => m.User.FirstName)
                @Html.ValidationMessageFor(m => m.User.FirstName)
            </li>
            <li class="name">
                @Html.LabelFor(m => m.User.LastName)
                @Html.TextBoxFor(m => m.User.LastName)
                @Html.ValidationMessageFor(m => m.User.LastName)
            </li>
            <li class="name">
                @Html.LabelFor(m => m.User.EmailAddress)
                @Html.TextBoxFor(m => m.User.EmailAddress)
                @Html.ValidationMessageFor(m => m.User.EmailAddress)
            </li>
            <li class="name">
                @Html.LabelFor(m => m.User.Organization)
                @Html.TextBoxFor(m => m.User.Organization)
                @Html.ValidationMessageFor(m => m.User.Organization)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ProviderUserName)
        @Html.HiddenFor(m => m.ProviderData)
        <input type="submit" value="Register" />
    </fieldset>
}