@model Phocalstream_Shared.Data.Model.View.UserCollectionList
@{
    ViewBag.Title = "UserCollections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/CSS/Account.css")
@Styles.Render("~/Content/CSS/CollectionThumbnail.css")

<div class="container">
    <div class="content">
        <div class="text-center relative">
            <h1 class="page-header">@Model.User.FirstName 's Collections</h1>
            <div class="save-changes">
                @Html.ActionLink("Create Site", "CreateUserSite", "Account", null, new { @class = "btn btn-info" })
                @Html.ActionLink("Upload Photos", "UploadPhotos", "Account", null, new { @class = "btn btn-info"})
            </div>
        </div>

        @if (@ViewBag.Message != null)
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                @ViewBag.Message
            </div>
        }


        @if (Model.Thumbnails.Count() == 0)
        {
            <div class="col-md-12 well text-center">
                You haven't created any collections yet!
            </div>
        }
        else
        {
            <!-- New Format -->
            <div class="row">
                @foreach (var col in Model.Thumbnails)
                {
                    @Html.Partial("_CollectionThumbnail", col)
                }
            </div>
        }
    </div>
</div>
