@model Phocalstream_Shared.Data.Model.View.UserCollectionList
@{
    ViewBag.Title = "UserCollections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/CSS/Account.css")

<div class="container">
    <div class="content">
        <div class="text-center relative">
            <h1 class="page-header">@Model.User.FirstName 's Collections</h1>
            <div class="save-changes">
                @Html.ActionLink("Create Site", "CreateUserSite", "Account", null, new { @class = "btn btn-info" })
                @Html.ActionLink("Upload Photos", "UploadPhotos", "Account", null, new { @class = "btn btn-info"})
            </div>
        </div>

        @if (@ViewBag.Message != null)
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                @ViewBag.Message
            </div>
        }


        @if (Model.Collections.Count() == 0)
        {
            <div class="col-md-12 well text-center">
                You haven't created any collections yet!
            </div>
        }
        else
        {
            <!-- New Format -->
            <div class="row">
                @foreach (var col in Model.Collections)
                {
                    <div class="col-md-6 siteColumn">
                        @if (@col.CoverPhoto != null)
                        { 
                            <img class="siteImage" src="/api/photo/medium/@col.CoverPhoto.ID" alt="@col.Name" />
                        }
                        else
                        {
                            <img class="siteImage" src="/api/photo/medium/0" alt="@col.Name" />
                        }
                        
                        <div class="siteEdit">
                            <a class="btn text-white no-underline" href="@Url.Action("EditUserCollection", "Account", new { collectionID = col.ID })"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                        </div>

                        <div class="siteDelete">
                            <a class="btn text-white no-underline" href="@Url.Action("DeleteUserCollection", "Account", new { collectionID = col.ID })"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                        </div>

                        <div class="row">
                            <div class="siteCaption">
                                <div class="col-md-8">
                                    <h1>@col.Name</h1>
                                    <p>@Html.DisplayFor(model => col.Photos.Count) photos </p>
                                </div>
                                <div class="col-md-4 text-right">
                                    @if (col.Photos.Count != 0)
                                    {
                                        <a class="siteCollection btn btn-default" href="/account/userdefinedcollection?collectionId=@col.ID">View Images</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
