@model Phocalstream_Shared.Data.Model.View.UserCollectionList
@{
    ViewBag.Title = "UserCollections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/CSS/Account.css")
@Styles.Render("~/Content/CSS/CollectionThumbnail.css")

<script type="text/javascript" src="~/Content/Scripts/bootbox.min.js"></script>
<script type="text/javascript">
    function deleteCollection(link) {
        bootbox.confirm("Are you sure you want to delete this collection?", function (result) {
            if (result) {
                window.location.href = link;
            }
        });
    }
</script>

<div class="container">
    <div class="content">
        <div class="text-center relative">
            <h1 class="page-header">@Model.User.FirstName 's Collections</h1>
            <div class="save-changes">
                @Html.ActionLink("Create Site", "CreateUserSite", "Account", null, new { @class = "btn btn-info" })
                @Html.ActionLink("Upload Photos", "UploadPhotos", "Account", null, new { @class = "btn btn-info"})
            </div>
        </div>

        @if (@ViewBag.Message != null)
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                @ViewBag.Message
            </div>
        }

        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#collections" aria-controls="home" role="tab" data-toggle="tab">Your Collections</a></li>
                <li role="presentation"><a href="#sites" aria-controls="profile" role="tab" data-toggle="tab">Your Camera Sites</a></li>
                <li role="presentation"><a href="#timelapse" aria-controls="messages" role="tab" data-toggle="tab">Your Timelapse Movies</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="collections">
                    @if (Model.CollectionThumbnails.Count() == 0)
                    {
                        <div class="col-md-12 well text-center">
                            You haven't created any collections yet!
                        </div>
                    }
                    else
                    {
                        <!-- New Format -->
                        <div class="row">
                            @foreach (var col in Model.CollectionThumbnails)
                            {
                                <div class="col-md-6">
                                    @Html.Partial("_CollectionThumbnail", col)
                                </div>
                            }
                        </div>
                    }
                </div>
                <div role="tabpanel" class="tab-pane" id="sites">
                    @if (Model.SiteThumbnails.Count() == 0)
                    {
                        <div class="col-md-12 well text-center">
                            You haven't created any camera sites yet!
                        </div>
                    }
                    else
                    {
                        <!-- New Format -->
                        <div class="row">
                            @foreach (var col in Model.SiteThumbnails)
                            {
                                <div class="col-md-6">
                                    @Html.Partial("_CollectionThumbnail", col)
                                </div>
                            }
                        </div>
                    }
                </div>
                <div role="tabpanel" class="tab-pane " id="timelapse">
                    @if (Model.TimelapseThumbnails.Count() == 0)
                    {
                        <div class="col-md-12 well text-center">
                            You haven't created any timelapses yet!
                        </div>
                    }
                    else
                    {
                        <!-- New Format -->
                        <div class="row">
                            @foreach (var col in Model.TimelapseThumbnails)
                            {
                                <div class="col-md-6">
                                    @Html.Partial("_CollectionThumbnail", col)
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>
