@model Phocalstream_Web.Models.ViewModels.ThumbnailModel

<div class="col-md-6 siteColumn">
    <img class="siteImage" src="/api/photo/medium/@Model.CoverPhotoID" alt="@Model.Name" />

    <div class="row">
        <div class="siteCaption">
            <div class="col-md-8">
                <h3>@Model.Name</h3>
                <p>@Html.DisplayFor(model => Model.PhotoCount) photos from @Html.DisplayFor(model => Model.First) to @Html.DisplayFor(model => Model.Last)</p>
            </div>
            <div class="col-md-4 text-right">
                <a class="siteCollection btn btn-default" href="@Model.Link">View Images</a>
            </div>
        </div>
    </div>
</div>
